{% extends 'base.html' %}

{% block title %}Edit {{ title }}{% endblock %}
{% block content %}


{% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}

<article>
    <form method="POST" class="pages-form">
        {% csrf_token %}
        <textarea name="content" rows="30" cols="100" class="pages-editor">{{ content }}</textarea>
        <br>
        <button type="submit" name="action" value="save" class="pages-save-btn ">Save</button>
        <button type="submit" name="action" value="preview" class="pages-preview-btn">Preview</button>
        <button type="submit" name="action" value="cancel" class="pages-cancel-btn">Cancel</button>
        <label for="version_history",onchange="show_selected_version_page()"></label>
        <select id="ver_files" name="version_page_selected" onchange="this.form.submit()" class="pages-history">
            {% if del_file %}
                <option value="{{ del_file }}" disabled selected>{{ del_file }}</option>
            {% endif %}

            {% for ver_file in ver_files %}
                {% if ver_file == "There is no version history." %}
                    <option value="{{ ver_file }}" disabled selected>There is no version history.</option>
                {% else %}
                        {% if ver_file != del_file %}
                                <option value="{{ ver_file }}">{{ ver_file }}</option>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </select>
        <button {% if not del_btn %} disabled {% endif %} type="submit" name="action" value="delete" class="pages-delete-btn">Delete</button>

    </form>
</article>

<br>


<article>

    {{ preview_content|safe }}
</article>
{% endblock %}