{% extends 'base.html' %}

{% block title %}Edit {{ title }}{% endblock %}
{% block content %}


{% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}

<article>
    <form method="POST" class="pages-form">
        {% csrf_token %}
        <textarea name="content" rows="30" cols="100" class="pages-editor">{{ content }}</textarea>
        <br>
        <button type="submit" name="action" value="save" class="pages-save-btn ">Save</button>
        <button type="submit" name="action" value="preview" class="pages-preview-btn">Preview</button>
        <button type="submit" name="action" value="cancel" class="pages-cancel-btn">Cancel</button>
        <label for="version_history",onchange="show_selected_version_page()"></label>
        <select id="version_pages" name="version_page_selected" onchange="this.form.submit()" class="pages-history">
            {% if selected_page %}
                <option value="{{ selected_page }}" disabled selected>{{ selected_page }}</option>
            {% endif %}

            {% for version_page in version_pages %}
                {% if version_page == "There is no version history." %}
                    <option value="{{ version_page }}" disabled selected>There is no version history.</option>
                {% else %}
                        {% if version_page != selected_page %}
                            <option value="{{ version_page }}">{{ version_page }}</option>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </select>
        <!-- <button type="submit" name="action" value="delete" class="pages-delete-btn">Delete</button> -->
    </form>
</article>

<br>


<article>

    {{ preview_content|safe }}
</article>
{% endblock %}